{{> head }}

{{> navbar }}

<div class= "row">
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla deleniti itaque suscipit dolor numquam veniam! Eius, veniam voluptatibus, odio quas animi nulla fugiat amet eaque cumque nobis dignissimos magnam repudiandae.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>


</div>

{{> footer }}